/* font-family: 'Indie Flower', cursive; */
/* font-family: 'Amatic SC', cursive; */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #E9EAF2;
  font-family: "Indie Flower", cursive;
}

.wrapper {
  padding: 5vh 10vw;
  text-align: center;
  margin: 0 auto;
}

h1 {
  margin: 7vh 0 7vh 0;
  text-transform: uppercase;
  font-size: 40px;
  text-align: center;
  text-shadow: 0 0 5px rgba(100, 30, 56), -5px 10px 15px rgba(100, 30, 56, .7), 5px -10px 15px rgba(100, 30, 56, .7);
}

h3 {
  text-transform: uppercase;
  font-size: 30px;
  padding: 5% 0 2%;
}

.images {
  width: 60%;
  background-color: #C3D3CF;
  box-shadow: 0 0 20px 10px #C3D3CF, 0 10px 40px 20px #C3D3CF, 0 -10px 60px 30px #C3D3CF;
  margin: 0 auto;
}

div.images img {
  width: 30%;
  padding: 5%;
  transition: width .3s;
}

div.images img:nth-child(1) {
  transform: rotate(-45deg);
}

div.images img:nth-child(2) {
  transform: translate(15%, 0);
}

div.images img:nth-child(3) {
  transform: translate(0, -15%) rotate(-45deg);
}

img[data-selection="notPickedOut"] {
  display: none;
}

img[data-selection="beginPostion"] {
  display: block;
}

div.img-section img:hover {
  /* border: solid 1px black; */
  /* border-radius: 50%; */
  background: rgba(191, 191, 191, 0.4);
  box-shadow: 0 0 55px 5px black;
  width: 50%;
  overflow: hidden;
}

img[data-selection="pickedOut"] {
  /* text-align: left; */
  box-shadow: "0px 0px 30px grey";
  position: absolute;
  animation: displayImage 1s linear;
  animation-fill-mode: forwards;
  left: 10px;
  top: 10%;
}



div.img-section img:active {
  /* border: solid 1px black; */
  /* border-radius: 50%; */
  box-shadow: 0 0 55px 5px black;
}

@keyframes displayImage {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}


@keyframes shake {
  0% {
    transform: translateX(0) rotateX(0);
  }

  90% {
    transform: translateX(0) rotateX(0);
  }

  91% {
    transform: translateX(10px) rotateX(10deg);
  }

  92% {
    transform: translateX(-10px) rotateX(-10deg);
  }

  93% {
    transform: translateX(10px) rotateX(10deg)
  }

  94% {
    transform: translateX(-10px) rotateX(-10deg)
  }

  95% {
    transform: translateX(10px) rotateX(10deg)
  }

  96% {
    transform: translateX(-10px) rotateX(-10deg)
  }

  97% {
    transform: translateX(10px) rotateX(10deg)
  }

  98% {
    transform: translateX(-10px) rotateX(-10deg)
  }

  99% {
    transform: translateX(10px) rotateX(10deg)
  }

  100% {
    transform: translateX(0px) rotateX(0)
  }
}

div.img-section {
  position: relative;
  min-width: 100%;
  min-height: 30%;
  height: 30%;
  background-color: lightskyblue;
}

[data-status="show"] {
  position: absolute;
  display: block;
  right: 10px;
  top: 10%;
  animation: displayImage 1s linear;
  width: 25%;
}

[data-status="notShow"] {
  display: none;
}

button.play {
  width: 15vw;
  padding: 10px 20px;
  font-family: "Chilanka", cursive, sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 30px;
  box-shadow: 0 0 8px 2px #2ee6c7;
  border: none;
  border-radius: 20px;
  min-width: 150px;
  position: relative;
  bottom: 5%;
  transition: .3s;
  animation: shake 4s ease infinite;
  overflow: hidden;
  background-color: rgb(245, 63, 94);
}

button.play::after {
  content: "";
  display: block;
  clear: both;
  position: absolute;
  bottom: 0;
  left: 100%;
  transition: left .5s, color .3s;
  background: #2ee6c7;
  width: 180px;
  height: 100px;
  z-index: -1;
}

button.play:hover {
  box-shadow: 0 0 20px 5px grey;
  left: 0;
  color: white;
}

button.play:hover::after {
  left: -20px;
  color: #2ee6c7;
  height: 100%;
}

button.play:active {
  color: white;
  background-color: #2ee6c7;
  border-radius: 30px;
  box-shadow: 0 0 20px 5px black;
}